//===============================================================================
// Nextflow config file
//===============================================================================

//===============================================================================
// Global default params
//===============================================================================

params {
    input_dir = './data/bam/200k'
    out_dir = './results'
    chain_file = './data/hg19ToHg38.over.chain.gz'
    chrom_sizes = './data/hg38.chrom.sizes'
}


//===============================================================================
// Profiles
//===============================================================================

profiles {
    standard {
        docker.enabled = true
        process.container = 'my-bioimg:latest'
    }
}


//===============================================================================
// Process-level resource configuration
//===============================================================================

process {
    executor = 'local'
    cpus = {1 + 1*(task.attempt - 1)}
    memory = {2.GB + 1.GB*(task.attempt - 1)}
    time = {1.h + 30.min*(task.attempt - 1)}
}


//===============================================================================
// Tracing & Report
//===============================================================================

// overwrite files during development
// add timestamp when ready for production

//def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

timeline {
    enabled = true
    file = "results/logs/timeline.html"
    overwrite = true
}
trace {
    enabled = true
    file = "results/logs/trace.txt"
    overwrite = true
}
report {
    enabled = true
    file = "results/logs/report.html"
    overwrite = true
}
dag {
    enabled = true
    file = "results/logs/flowchart.png"
    overwrite = true
}


//===============================================================================
// Manifest
//===============================================================================

manifest {
    name = 'tumor-fraction-pipeline'
    author = 'Hannah'
    description = 'pipeline compute tumor fractions from BAM files'
    mainScript = 'main.nf'
    nextflowVersion = '>=25.04.6'
    version = '1.0'
}