params {
    input_dir = "./data/bam/200k"
    out_dir = "./results"
}

docker.enabled = true

process {
    container = 'my-bioimg:latest'
    executor = 'local'
    cpus = {1 + 1*(task.attempt - 1)}
    memory = {2.GB + 1.GB*(task.attempt - 1)}
    time = {1.h + 30.min*(task.attempt - 1)}
}

timeline {
    enabled = true
    file = "results/logs/timeline.html"
    overwrite = true
}
trace {
    enabled = true
    file = "results/logs/trace.txt"
    overwrite = true
}
report {
    enabled = true
    file = "results/logs/report.html"
    overwrite = true
}
dag {
    enabled = true
    file = "results/logs/flowchart.png"
    overwrite = true
}